
@if (role === 'admin') {
    <app-base-tab [template]="tableTemplate"></app-base-tab>

    <ng-template #tableTemplate let-base>
        <app-table [data]="getCarsByBase(base)" [columns]="columns" [actions]="actions" (selectedRow)="onSelectedCar($event)"></app-table>
    </ng-template>
} @else if (role === 'dbadmin') {
    <app-table [data]="cars" [columns]="columns" [actions]="actions" (selectedRow)="onSelectedCar($event)"></app-table>
} @else {
    <div>
        YOU'RE NOT SUPPOSED TO BE HERE
    </div>
}
