::ng-deep .custom-panel {
    // min-width: 50vw !important;
    min-height: 0vh !important;
    max-width: 80vw !important;
    max-height: 80vh !important;
}

::ng-deep .mat-sort-header-content {
    height: 20px !important;
}

::ng-deep .tooltip-break {
    white-space: pre-line;
}

::ng-deep .readonly-select .mat-select-trigger {
    pointer-events: none;
}
