<h2 mat-dialog-title style="padding: 1rem 24px 0rem 24px">{{ title | translate }}</h2>
<mat-dialog-content>
    <form [formGroup]="form">
        @for (group of groupedControls; track group) {
        <div style="display: flex; gap: 1rem">
            @for (control of group; track control; let i = $index) {
            <mat-form-field class="w-100">
                <mat-label>{{ control.label | translate }}</mat-label>
                <input matInput [formControlName]="control.name"/>
            </mat-form-field>
            }
        </div>
        }
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    @for (action of actions; track action) {
    <button mat-raised-button (click)="action.callback(sampleData)">
        <mat-icon>{{ action.icon }}</mat-icon>
        {{ action.name | translate }}
    </button>
    }
    <button mat-raised-button mat-dialog-close class="warning-button">
        <mat-icon>close</mat-icon>{{ 'common.close' | translate }}
    </button>
</mat-dialog-actions>
