.table-custom {
    border-radius: var(--border-radius);
    margin: 1rem;
    overflow: hidden;
}

.table-row {
    cursor: pointer;
}

.table-row:hover {
    background-color: var(--table-row-hover-color);
}

.table-row-selected {
    background-color: var(--table-row-selected-color);
}

.actions {
    display: flex;
    gap: 10px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 1rem;
    align-items: center;
}

.filter {
    margin-left: auto;
    max-height: 56px;
    width: 50%;
}

::ng-deep .mat-sort-header-container {
    justify-content: center;
    width: fit-content;
    margin: auto;
}

::ng-deep .mat-mdc-header-cell {
    text-align: center !important;
}

::ng-deep .mat-mdc-cell {
    text-align: center !important;
}

::ng-deep .mat-sort-header-arrow {
    position: absolute !important;
    right: -18px !important;
}
