<div class="wrapper">
    <div class="title">{{ 'Modify user ' + user.username }}</div>
    <div class="content">
        <form [formGroup]="userForm">
            <div class="row">
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Role</mat-label>
                        <mat-select [value]="userForm.get('role')?.getRawValue()" formControlName="role">
                            @for (role of availableRoles; track role) {
                            <mat-option [value]="role">{{ role }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Base</mat-label>
                        <mat-select [value]="userForm.get('base')?.getRawValue()" formControlName="base">
                            @for (base of availableBases; track base) {
                            <mat-option [value]="base">{{ base }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <button mat-flat-button (click)="save()" class="save-button">Save</button>
        <button mat-flat-button color="warn" (click)="close()" class="close-button">Close</button>
    </div>
</div>
