<div class="wrapper">
    <div class="header">
        <button mat-fab class="functionality-icon" [matMenuTriggerFor]="menu">
            <mat-icon>person</mat-icon>
        </button>

        <mat-menu
            #menu="matMenu"
            style="padding: 0px; border-radius: 8px"
            panelClass="custom-panel"
            overlayPanelClass="custom-panel"
        >
            <app-user></app-user>
        </mat-menu>
    </div>
    <div class="body">
        <!-- Tasks -->
        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title> Tareas </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="content">
                    <app-task-card origin="SEV" destination="MLG" car="VolksWagen Tuareg 0614LMW" taskID="123"></app-task-card>
                    <app-task-card origin="MLG" destination="BCN" car="Ford Ka+ QKP5892" taskID="456"></app-task-card>
                    <app-task-card origin="SEV" destination="VLC" car="Fiat Punto 6537ABC" taskID="789"></app-task-card>
                    <app-task-card origin="BCN" destination="SEV" car="Seat Leon 9075KMW" taskID="135"></app-task-card>
                    <app-task-card origin="SEV" destination="MAD" car="Nissan Leaf 8452LLM" taskID="246"></app-task-card>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

        <!-- Completed -->
        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title> Completadas </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="content">
                    <app-task-card origin="BCN" destination="MLG" car="VolksWagen Polo 9572OOP" taskID="123"></app-task-card>
                    <app-task-card origin="SEV" destination="BCN" car="Renault Megane 6900JFK" taskID="123"></app-task-card>
                    <app-task-card origin="MAD" destination="MLG" car="Ferrari 488 4205AFK" taskID="123"></app-task-card>
                    <app-task-card origin="VLC" destination="MAD" car="Lamborghini Countach 9556IBC" taskID="123"></app-task-card>
                    <app-task-card origin="MLG" destination="VLC" car="McLaren P1 0000IDK" taskID="123"></app-task-card>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
